 {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #da8cee;
    color: rgb(15, 9, 15);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width:10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#e48afa,#d16bd1);
    color:rgb(10, 7, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
